{
  "presets": ["env", "react"],
  "plugins": ["transform-runtime", "transform-class-properties", "transform-object-rest-spread"],
  "ignore": [
    "src/bundle",
    "src/public",
    "src/build"
  ]
}