// FLEX
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
}
.flex-grow {
  flex-grow: 1;
}
.flex-line {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  &.centered {
    align-items: center;
  }
  &.content-centered {
    justify-content: center;
  }
}
.flex-line-no-wrap {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}
.flex-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  // justify-content: flex-start;
  align-content: stretch;
  justify-content: space-between;
  &.equalized {
    align-items: stretch;
  }
  &.centered {
    align-items: center;
  }
}
.flex-grid-simple {
  display: flex;
  flex-wrap: wrap;
}
.flex-l-r {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex-l-r-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  &.wrap {
    flex-wrap: wrap;
  }
  &.no-wrap {
    flex-wrap: nowrap;
  }
  &.reverse {
    flex-wrap: wrap-reverse;
  }
}
.flex-no-wrap {
  flex-wrap: nowrap;
}
.flex-center-auto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-start-auto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.col {
  &.flex {
    display: flex;
  }
  &.grow {
    flex-grow:1;
  }
  &.col-flex-sm {
    @include breakpoint(sm) {
      flex-grow: 1;
    }
  }
  &.col-flex-md {
    @include breakpoint(md) {
      flex-grow: 1;
    }
  }
  &.col-flex-lg {
    @include breakpoint(lg) {
      flex-grow: 1;
    }
  }
  &.col-flex-xl {
    @include breakpoint(xl) {
      flex-grow: 1;
    }
  }

  @for $i from 0 through 10 {
    &.col-#{$i} {
      width: $i * 10%;
    }
  }
  @for $i from 0 through 10 {
    &.col-#{$i}-sm {
      @include breakpoint(phone) {
        width: $i * 10%;
        &.gutter {
          width: $i * 9.5%;
        }
      }
    }
  }
  @for $i from 0 through 10 {
    &.col-#{$i}-md {
      @include breakpoint(tablet) {
        width: $i * 10%;
        &.gutter {
          width: $i * 9.5%;
        }
      }
    }
  }
  @for $i from 0 through 10 {
    &.col-#{$i}-lg {
      @include breakpoint(small-desktop) {
        width: $i * 10%;
        &.gutter {
          width: $i * 9.5%;
        }
      }
    }
  }
  @for $i from 0 through 10 {
    &.col-#{$i}-xl {
      @include breakpoint(desktop) {
        width: $i * 10%;
        &.gutter {
          width: $i * 9.5%;
        }
      }
    }
  }

  &.col-25 {
    width: 25%
  }
  &.col-25-sm {
    @include breakpoint(phone) {
      width: 25%;
      &.gutter {
        width: 23%;
      }
    }
  }
  &.col-25-md {
    @include breakpoint(tablet) {
      width: 25%;
      &.gutter {
        width: 23%;
      }
    }
  }
  &.col-25-lg {
    @include breakpoint(small-desktop) {
      width: 25%;
      &.gutter {
        width: 23%;
      }
    }
  }
  &.col-25-xl {
    @include breakpoint(desktop) {
      width: 25%;
      &.gutter {
        width: 23%;
      }
    }
  }
  
  &.col-33 {
    width: 33.3%
  }
  &.col-33-sm {
    @include breakpoint(phone) {
      width: 33.3%;
      &.gutter {
        width: 30%;
      }
    }
  }
  &.col-33-md {
    @include breakpoint(tablet) {
      width: 33.3%;
      &.gutter {
        width: 30%;
      }
    }
  }
  &.col-33-lg {
    @include breakpoint(small-desktop) {
      width: 33.3%;
      &.gutter {
        width: 30%;
      }
    }
  }
  &.col-33-xl {
    @include breakpoint(desktop) {
      width: 33.3%;
      &.gutter {
        width: 30%;
      }
    }
  }

  &.col-66 {
    width: 66.6%;
  }
  &.col-66-sm {
    @include breakpoint(phone) {
      width: 66.6%;
    }
  }
  &.col-66-md {
    @include breakpoint(tablet) {
      width: 66.6%;
    }
  }
  &.col-66-lg {
    @include breakpoint(small-desktop) {
     width: 66.6%;
    }
  }
  &.col-66-xl {
    @include breakpoint(desktop) {
      width: 66.6%;
    }
  }

  &.col-75 {
    width: 75%
  }
  &.col-75-sm {
    @include breakpoint(phone) {
      width: 75%;
      &.gutter {
        width: 73%;
      }
    }
  }
  &.col-75-md {
    @include breakpoint(tablet) {
      width: 75%;
      &.gutter {
        width: 73%;
      }
    }
  }
  &.col-75-lg {
    @include breakpoint(small-desktop) {
      width: 75%;
      &.gutter {
        width: 73%;
      }
    }
  }
  &.col-75-xl {
    @include breakpoint(desktop) {
      width: 75%;
      &.gutter {
        width: 73%;
      }
    }
  }

}

@include breakpoint(md) {
  .col.col-3-md.gutter {
    width: 31%;
  }
}
@include breakpoint(lg) {
  .col.col-3-lg.gutter {
    width: 31%;
  }
}
@include breakpoint(xl) {
  .col.col-3-xl.gutter {
    width: 31%;
  }
}