form {
  &.no-bottom-border {
    .form-group {
      padding-bottom: 0;
      margin-bottom: 20px;
      border-bottom: none;
    }
  }
}

.form-group {
  margin-bottom: 16px;
  border-bottom: 1px dashed #cecece;
  padding-bottom: 16px;
  &.no-border {
    border-bottom: none;
  }
  &:only-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  &.not-last {
    margin-bottom: 20px !important;
    border-bottom: 1px dashed #cecece !important;
    padding-bottom: 20px !important;
  }
  label {
    margin-bottom: 8px;
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    &.error {
      display: inline-block;
      margin-bottom: 0;
      margin-top: 10px;
      font-size: 14px;
      color: $error-color;
    }
  }
  .input-help {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    line-height: 18px;
    &.error {
      color: $error-color;
    }
  }
}

// INPUT
.input-ctrl {
  box-shadow: none;
  width: 100%;
  outline: 0;
  background: $input-background;
  color: $text-dark;
  border: 1px solid $border;
  font-size: $font-size;
  height: $input-height;
  line-height: normal;
  padding: 0 10px;
  border-radius: 3px;
  box-sizing: border-box;
  &:focus {
    border-color: $primary-color;
  }
  &.sm-ctrl {
    max-width: 120px;
  }
  &.md {
    max-width: 450px;
  }
  &:-moz-placeholder{
    color: lighten($text-dark, 35%)
  }
  &:-ms-input-placeholder{
    color: lighten($text-dark, 35%)
  }
  &::-moz-placeholder {
    color: lighten($text-dark, 35%)
  }
  &::-webkit-input-placeholder {
    color: lighten($text-dark, 35%)
  }
  &:disabled {
    background-color: darken($input-background, 10%);
    cursor: not-allowed;
  }
  &.disabled {
    background-color: darken($input-background, 10%);
  }
}

// INPUT GROUP
.input-group.flex-line-no-wrap {
  .input-group-icon {
    min-width: 38px;
    text-align: center;
    padding: 0 8px;
    font-size: 14px;
    background-color: $primary-color;
    color: white;
    line-height: $input-height;
    box-shadow: $input-shadow;
    i, img {
      padding: 0 5px;
      vertical-align: middle;
    }
    border-radius: 3px 0 0 3px;
  }
  .input-ctrl {
    flex-grow: 1;
    border-radius: 0 3px 3px 0;
  }
}

//TEXT AREA
textarea {
  line-height: $font-size + 4 !important;
  font-family: $font-body;
  padding-top: 10px !important;
  min-height: 90px !important;
}
select {
  option {
    padding: 5px 0;
    &:disabled {
      background-color: darken(white, 15%);
    }
  }
}