// FLAT BGS
.primary-bg {
  background-color: $primary-color;
}
.white-bg {
  background-color: $box-color;
  &.shade1 {
    background-color: $box-color-light;
  }
  &.shade2 {
    background-color: $box-color-medium;
  }
  &.shade3 {
    background-color: $box-color-dark;
  }
}
.success-bg {
  background-color: $success-color;
  color: white;
}
.warning-bg {
  background-color: $warning-color;
  color: white;
}
.error-bg {
  background-color: $error-color;
  color: white;
}

// TEXTS
.light-text {
  color: $text-light;
}
.medium-text {
  color: $text-medium;
}
.dark-text {
  color: $text-dark;
}
.danger-text {
  color: $error-color;
}
.primary-text {
  color: $primary-color;
}

.border {
  border: 1px solid darken(white, 10%);
  &.light {
    border: 1px solid darken(white, 15%);
  }
}
.border-bottom {
  border-bottom: 1px solid darken(white, 10%);
  &.light {
    border-bottom: 1px solid darken(white, 15%);
  }
}
.border-top {
  border-top : 1px solid darken(white, 10%);
  &.light {
    border-top : 1px solid darken(white, 15%);
  }
}
.border-bottom {
  border-bottom: 1px solid $border !important;
}
.border-bottom-med {
  border-bottom: 1px solid $box-color-medium;
}
.border-general {
  border: 1px solid darken($box-color, 20%) !important;
}
.border-right {
  border-right: 1px solid darken($box-color, 20%) !important;
}
.border-bottom-dashed {
  border-bottom: 1px dashed darken($box-color, 20%) !important;
}

.border-bottom-primary-2 {
  border-bottom: 2px solid $primary-color;
}
.border-bottom-medium-2 {
  border-bottom: 2px solid darken($border, 20%);
}


// MISC
.relative {
  position: relative;
}
.blur {
  filter: blur(2px);
  transform: scale(1.02);
  overflow: hidden;
}
.z-index-1 {
  z-index: 1 !important;
}
.slimScrollBar {
  z-index: 1000 !important;
}
.overflow-hidden {
  overflow: hidden !important;
}

// ROUND
.round-sm {
  border-radius: 3px;
}
.round {
  border-radius: 5px;
}
.round-top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.round-bottom {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

// IMAGES
.res-img {
  width: 100%;
  max-width: 100%;
  //height: 100%;
}
.thumbnail-img {
  width: 100%;
  max-width: 200px;
}

.width100 {
  width: 100% !important;
}

// HIDE
.hide {
  display: none !important;
}
.v-hide {
  display: none;
  opacity: 0;
}

// DISPLAY
.block {
  display: block;
}
.inline {
  display: inline-block;
}
.inline-block {
  display: inline-block;
}
.center {
  margin: 0 auto;
}
.v-align-top {
  vertical-align: top;
}
.v-align-middle {
  vertical-align: middle;
}
.v-align-sub {
  vertical-align: sub;
}

// CUSTOR
.cursor {
  cursor: pointer !important;
}
.cursor-pointer {
  cursor: pointer !important;
}

// CENTERING
.center {
  margin: 0 auto !important;
}
.center-tb {
  margin: 20px auto !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

// MIXINS
@mixin breakpoint($point) {
  @if $point == desktop { // XL
    @media (min-width: 1200px) { @content ; }
  }
  @else if $point == xl { // XL
    @media (min-width: 1200px) { @content ; }
  }
  @else if $point == small-desktop { // LG
    @media (min-width: 1020px) { @content ; }
  }
  @else if $point == lg { // LG
    @media (min-width: 1020px) { @content ; }
  }
  @else if $point == md-half { // MD 900
    @media (min-width: 900px) { @content ; }
  }
  @else if $point == tablet { // MD
    @media (min-width: 720px) {
      @content;
    }
  }
  @else if $point == md { // MD
    @media (min-width: 720px) { @content ; }
  }
  @else if $point == phone { // SM
    @media (min-width: 480px)  { @content ; }
  }
  @else if $point == sm { // SM
    @media (min-width: 480px)  { @content ; }
  }
  @else if $point == small-phone { // XS
    @media (max-width: 320px)  { @content ; }
  }
  @else if $point == xs { // XS
    @media (max-width: 320px)  { @content ; }
  }
}
@mixin hardwareAcceleration() {
  transform: translateZ(0) translate3d(0, 0, 0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  perspective: 1000;
}
@mixin hardwareAccelerationExt($extra) {
  transform: translateZ(0) translate3d(0, 0, 0) $extra;
}
// BOX SHADOWS
@function top-shadow($depth) {
  $primary-offset: nth(1.5 3 10 14 19, $depth) * 1px;
  $blur: nth(1.5 3 10 14 19, $depth) * 4px;
  $color: rgba(black, nth(.12 .16 .19 .25 .30, $depth));

  @return 0 $primary-offset $blur $color;
}
@function bottom-shadow($depth) {
  $primary-offset: nth(1.5 3 6 10 15, $depth) * 1px;
  $blur: nth(1 3 3 5 6, $depth) * 4px;
  $color: rgba(black, nth(.24 .23 .23 .22 .22, $depth));

  @return 0 $primary-offset $blur $color;
}
@mixin card($depth) {
  @if $depth < 1 {
    box-shadow: none;
  } @else if $depth > 5 {
    @warn "Invalid $depth `#{$depth}` for mixin `card`.";
  } @else {
    box-shadow: bottom-shadow($depth), top-shadow($depth);
  }
}
@mixin cardTop($depth) {
  @if $depth < 1 {
    box-shadow: none;
  } @else if $depth > 5 {
    @warn "Invalid $depth `#{$depth}` for mixin `card`.";
  } @else {
    box-shadow:  top-shadow($depth), bottom-shadow($depth);
  }
}
.bs-1 {  @include card(1)  }
.bs-2 {  @include card(2)  }
.bs-3 {  @include card(3)  }
.bs-4 {  @include card(4)  }
.bs-5 {  @include card(5)  }
.bst-1 {
  box-shadow: 0 0px 6px rgb(29, 29, 29), bottom-shadow(1);
}
.bsl-1 {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2)
}

// MARINGS AND PADDINGS
@for $i from 0 through 12 {
  .m-#{$i} {
    margin: 5px * $i !important;
  }
  .m-t-#{$i} {
    margin-top: 5px * $i !important;
  }
  .m-b-#{$i} {
    margin-bottom: 5px * $i !important;
  }
  .m-tb-#{$i} {
    margin: 5px * $i 0 !important;
  }
  .m-l-#{$i} {
    margin-left: 5px * $i !important;
  }
  .m-r-#{$i} {
    margin-right: 5px * $i !important;
  }
  .m-lr-#{$i} {
    margin: 0 5px * $i !important;
  }
  .p-#{$i} {
    padding: 5px * $i !important;
  }
  .p-t-#{$i} {
    padding-top: 5px * $i !important;
  }
  .p-b-#{$i} {
    padding-bottom: 5px * $i !important;
  }
  .p-tb-#{$i} {
    padding: 5px * $i 0 !important;
  }
  .p-l-#{$i} {
    padding-left: 5px * $i !important;
  }
  .p-r-#{$i} {
    padding-right: 5px * $i !important;
  }
  .p-lr-#{$i} {
    padding: 0 5px * $i !important;
  }
}

// RESPONSIVE SHOW HIDES
.show-small-phone {
  display: none !important;
  @include breakpoint(small-phone) {
    display: inherit !important;
  }
}
.hide-small-phone {
  display: none !important;
  @include breakpoint(small-phone) {
    display: inherit !important;
  }
}
.hide-phone {
  display: none !important;
  @include breakpoint(phone) {
    display: inherit !important;
  }
}
.hide-tablet {
  display: none !important;
  @include breakpoint(tablet) {
    display: inherit !important;
  }
}
.hide-small-desktop {
  display: none !important;
  @include breakpoint(small-desktop) {
    display: inherit !important;
  }
}
.float-right {
  float: right;
}
