.overlay {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  &.active {
    display: block;
  }

  .overlay-centerbox {
    cursor: wait;
    display: none;
    z-index: 21;
    max-width: 80%;
    margin: 0 auto 40px auto;
    .overlay-centerbox-text {
      cursor: wait;
      color: $text-light;
      font-size: 24px;
      text-align: center;
    }
  }
}

#loading-overlay {
  background-color: black;
  display: none;
  z-index: 20;
  cursor: wait;
  justify-content: center;
  align-items: center;
  bottom: 68px;
  height: inherit;
}

