.notification-bar {
  margin-top: 5px;
}

.notification-indicator {
  color: $text-dark;
  margin: 0 8px;
  position: relative;
}

.notification-badge {
  font-size: 12px;
  background-color: $primary-color;
  height: 16px;
  width: 16px;
  border-radius: 12px;
  position: absolute;
  top: -8px;
  left: -8px;
  padding: 2px;
  color: $text-light;
  text-align: center;
  &.small {
    height: 10px;
    width: 10px;
  }
}