body {
  font-family: $font-body;
  color: $text-dark;
  font-size: $font-size;
}
h1, h2, h3, h4, h5 {
  font-family: $font-heading;
  line-height: 1.45;
}
h1 {
  font-size: 32px;
  font-weight: 500;
  @include breakpoint(md) {
    font-size: 40px;
  }
  @include breakpoint(lg) {
    font-size: 40px;
  }
  &.reg {
    font-weight: 400;
  }
}
h2 {
  font-size: 28px;
  font-weight: 500;
  @include breakpoint(md) {
    font-size: 30px;
  }
}
h3 {
  font-size: 23px;
  font-weight: 600;
}
h4 {
  font-size: 20px;
  font-weight: 600;
}
p, small {
  line-height: 1.45;
}
p, small, a {
  &.font-bold {
    font-weight: 700;
  }
}
p {
  font-size: $font-size;
  line-height: 28px;
  &.big {
    font-size: 20px;
    line-height: 32px;
  }
  &.small {
    font-size: 12px;
    line-height: 24px;
  }
}
small {
  font-size: 12px;
}
a {
  color: $primary-color;
  cursor: pointer;
}
button {
  font-family: $font-body;
}
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 15px 0;
}
hr.border {
  border-top: 1px solid darken($border, 10%);
  border-bottom: 1px solid $border;
}

// HELPERS
.font-bold {
  font-weight: 700;
}
.font-semi-bold {
  font-weight: 500;
}
.font-regular {
  font-weight: 400;
}
.font-light {
  font-weight: 300;
}
.line-height-lg {
  line-height: 25px;
}
.line-height-xl {
  line-height: 32px;
}
.line-height-0 {
  line-height: 0 !important;
}
.line-height-1 {
  line-height: 1 !important;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
.tdn {
  text-decoration: none;
}
.letter-spacing-1 {
  letter-spacing: 1px;
}
.letter-spacing-3 {
  letter-spacing: 3px;
}

// TEXT ALIGN
.text-center {
  text-align: center;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right;
}
.text-center-sm-l {
  text-align: center;
  @include breakpoint(tablet) {
    text-align: left;
  }
}
.text-left-sm {
  @include breakpoint(phone) {
    text-align: left;
  }
}
.text-center-sm {
  text-align: center;
  @include breakpoint(phone) {
    text-align: left;
  }
}
.text-center-md {
  text-align: center;
  @include breakpoint(md) {
    text-align: left;
  }
}
.text-md-justify {
  text-align: left;
  @include breakpoint(md) {
    text-align: justify;
  }
}