// FONTS
$font-family: 'Roboto', sans-serif; // 'Source Sans Pro', sans-serif;
$font-light: 300;
$font-regular: 400;
$font-semi-bold: 500;
$font-bold: 700;
$font-size: 14px;

// COLORS
$primary-color: #4491ee;
$background-color: rgb(25, 25, 25);

$box-color: white;
$box-color-light: darken($box-color, 2%);
$box-color-medium: darken($box-color, 6%);
$box-color-dark: darken($box-color, 55%);

$text-light: white;
$text-medium: darken(white, 50%);
$text-dark: #181818;

$border: #d0d0d0;
$shadow: 0px 1px 5px #c3c3c3;
$box-shadow: 0px 3px 4px darken($box-color, 10%);

$success-color: #51a351;
$warning-color: #f89406;
$error-color: #bd362f;

$input-height: 38px;
$input-background: white;
$input-shadow: 0px 1px 3px #dcdcdc;
