@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/OpenSans-Bold.ttf') format('truetype');
  src: url('../../fonts/OpenSans-BoldItalic.ttf') format('truetype');
  src: url('../../fonts/OpenSans-ExtraBold.ttf') format('truetype');
  src: url('../../fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype');
  src: url('../../fonts/OpenSans-Italic.ttf') format('truetype');
  src: url('../../fonts/OpenSans-Light.ttf') format('truetype');
  src: url('../../fonts/OpenSans-LightItalic.ttf') format('truetype');
  src: url('../../fonts/OpenSans-Regular.ttf') format('truetype');
  src: url('../../fonts/OpenSans-SemiBold.ttf') format('truetype');
  src: url('../../fonts/OpenSans-SemiBoldItalic.ttf') format('truetype');
}

// FONTS
$font-family: 'Open Sans', sans-serif;
$font-body: 'Open Sans', sans-serif;
$font-heading: 'Open Sans', sans-serif;
$font-light: 300;
$font-regular: 400;
$font-semi-bold: 500;
$font-bold: 700;
$font-size: 14px;

// COLORS
$primary-color: #4491ee;
$background-color: rgb(25, 25, 25);

$box-color: white;
$box-color-light: darken($box-color, 2%);
$box-color-medium: darken($box-color, 6%);
$box-color-dark: darken($box-color, 55%);

$text-light: white;
$text-medium: darken(white, 50%);
$text-dark: #181818;

$border: #d0d0d0;
$shadow: 0px 1px 5px #c3c3c3;
$box-shadow: 0px 3px 4px darken($box-color, 10%);

$success-color: #51a351;
$warning-color: #f89406;
$error-color: #bd362f;

$input-height: 38px;
$input-background: white;
$input-shadow: 0px 1px 3px #dcdcdc;

@import "_reset";

html, body {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  :focus {
    outline: none !important;
  }
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#mount {
  padding-bottom: 85px;
}

@import '_variables';
@import "_helper";
@import '_flex';
@import "_type";
@import "_form";
@import "_btn";
@import "_table";
@import "_modal.scss";
@import "_notifications.scss";
@import "_loader";

@import "../../../node_modules/noty/src/noty.scss";
@import "../../../node_modules/noty/src/themes/mint.scss";
@import '../../../node_modules/g-notifications/src/style.scss';

.gn-notification {
  font-size: 14px;
}